*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: "Roboto";
}

.container {
    width: auto;
    height: auto;
    background-color: white;
    border: black solid 1px;
    border: 1px solid rgba(000, 0, 0, 0.2);
    // margin: 20px 20px 20px 20px;
    padding: 40px 30px 40px 30px;
    // position: relative;
    // top: 15vh;
    // left: 20vw;
    // right: 30vh;
    border-radius: 10px;
}

.container .logo p {
    font-size: 35px
}

.container .logo {
    display: flex;
    margin-bottom: 15px;
}

.container .heading {
    margin-bottom: 30px;
}

.container .lastname  {
    margin-left: 10px;
}

.container .email {
    margin-top: -20px;
}

.container .confirm  {
    margin-left: 10px;
}

.container .confirm, .password {
    margin-top: -15px;
}

// .inputbox {
//     display: flex;
// }

.btn {
    background-color: white;
    color: #1a73e8;
    margin: 5px 0 35px 0px;
    cursor: pointer;
    font-size: 15px;
    padding: 4px 4px 4px 4px;
    border: none;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.btn:hover {
    background-color: #f1f1f1;
    color: #1a73e8;
}

.email mat-hint {
    font-size: 13px;
}

.hint mat-hint {
    position: absolute;
    margin: 70px 0 0px -410px;
    font-size: 13px;
}

.btn1 {
    background-color: white;
    color: #1a73e8;
    margin: 60px 0 25px 0px;
    cursor: pointer;
    font-size: 15px;
    padding: 4px 4px 4px 4px;
    border: none;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.btn1:hover {
    background-color: #f1f1f1;
    color: #1a73e8;
}

.btn2 {
    background-color: #1a73e8;
    color: white;
    margin: 60px 0 25px 163px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 24px 10px 24px;
    border: none;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.image {
    margin: 90px 0px 0px 0px; 
}

.image .content {
    text-align: center;
    font-size: 17px;
    opacity: 70%;
}

// footer 

// .help {
// margin: -110px 540px 0 0;
// }

// .help ul li a {
//     display: inline;
//     margin-left: 30px;
//     color: gray;
//     font-size: smaller;
//     font-weight: 500;
// }

.example-section .example-margin {
    padding: 40px 0px 0px 0px;
}

// media query

@media only screen and (max-width: 599px) {
    .container {
        width: 100vw;
        height: 100vh;
        // background: lightblue;
        padding:  10px 10px 10px 10px;
        border: 1px solid rgba(000, 0, 0, 0.0);
    }

    .container .logo p {
        margin-top: 30px;
        font-size: 27px;
    }

    .container .inputbox .lastname {
        margin-top: -18px;
        margin-left: 0px;
        font-size: 12px;
    }

    .container .inputbox .confirm {
        margin-left: 0px;
    }

    .container .inputbox {
        // margin-top: -18px;
        font-size: 12px;
    }

    .container .email {
        font-size: 12px;
    }

    .hint mat-hint {
        position: absolute;
        // text-align: right;
        // float: right;
        // margin-left: 200px;
        // padding-left: 200px;
        // margin: 70px 0 0px -410px;
        margin: 70px 0 0px 0px;
    }

}