<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar class="example-toolbar">

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button class="menuBtn" mat-icon-button (click)="isExpandable=!isExpandable">
                <mat-icon>menu</mat-icon>
            </button>

            <div fxLayout="row" fxLayoutAlign="center center">
                <img class="logo" src="assets/keep-img.png" alt="Fundoo logo">
                <p>Fundoo</p>
            </div>
        </div>

        <div class="searchBar" fxHide.lt-md fxFlex=40 fxLayout="row" fxLayoutAlign="start center">
            <a href="#">
                <mat-icon id="icon">search</mat-icon>
            </a>
            <input id="searchbar" type="text" placeholder="Search..">
        </div>

        <div class="profile" fxFlex=100 fxLayout="row" fxLayoutAlign="end center">

            <div class="container"  fxLayout="row" fxLayoutAlign="end center">
                <button class="button" >
                    <img src="/assets/refresh.svg">
                </button>
            </div>

            <div fxHide.xs class="container"  fxLayout="row" fxLayoutAlign="end center">
                <button class="button" >
                    <img src="/assets/list.svg">
                </button>
            </div>

            <div class="container"  fxLayout="row" fxLayoutAlign="end center">
                <button class="button" >
                    <img src="/assets/settings.svg">
                </button>
            </div>

            <div fxHide.xs class="container"  fxLayout="row" fxLayoutAlign="end center">
                <button class="button" id="grid" style="margin-right:50px ;" >
                    <mat-icon>view_comfy</mat-icon>
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-around" ngClass="log-out-icon">
                <button mat-mini-fab color="" mat-icon-button>
                    <mat-icon>account_circle</mat-icon>
                </button>

            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav opened="true" mode="side" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list (mouseover)="isExpandable=true" (mouseleave)="isExpandable=false">
                <div class="navlist active" fxLayout="row" (mouseover)="isExpandable=true" fxLayoutAlign="start center"
                    fxLayoutGap="20px" mat-list-item (click)="notes();">
                    <button class="navBtn btnPosition" mat-icon-button >
                        <img src="/assets/lightbulb.svg">
                    </button>
                    <p class="navName  " *ngIf="isExpandable">Notes</p>
                </div>

                <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
                    fxLayoutGap="20px" mat-list-item (click)="reminder();">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true" >
                        <img src="/assets/download.svg">
                    </button>
                    <p class="navName " *ngIf="isExpandable">Reminder</p>
                </div>

                <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
                    fxLayoutGap="20px" mat-list-item (click)="editlabel();">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true" >
                        <img src="/assets/label.svg">
                    </button>
                    <p class="navName " *ngIf="isExpandable">Edit Labels</p>
                </div>
                <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
                    fxLayoutGap="20px" mat-list-item (click)="archive();">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true" >
                        <img src="/assets/archive.svg">
                    </button>
                    <p class="navName " *ngIf="isExpandable">Archive</p>
                </div>
                <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
                    fxLayoutGap="20px" mat-list-item (click)="trash();">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true" >
                        <img src="/assets/delete.svg">
                    </button>
                    <p class="navName" *ngIf="isExpandable">Trash</p>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <router-outlet></router-outlet>

    </mat-sidenav-container>
    
</div>