<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundoo Notes</title>

</head>

<body fxLayout="row" fxLayoutAlign="center center">

    <div class="container">
        <form [formGroup]="registerForm">

            <div class="logo">
                <p style="color: #1a73e8;">F</p>
                <p style="color: #ea4335;">u</p>
                <p style="color: #fbbc05;">n</p>
                <p style="color: #1a73e8;">d</p>
                <p style="color: #34a853;">o</p>
                <p style="color: #ea4335;">o</p>
            </div>

            <div class="heading">
                <h1>Reset password</h1>
            </div>

            <div fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-evenly stretch">
                <div class="email">
                    <p>
                        <mat-form-field appearance="outline" style="width: 100%" type="password">
                            <mat-label>password</mat-label>
                            <input matInput placeholder="Enter Password" type="password" formControlName="password"
                                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <mat-hint *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <mat-hint *ngIf="f.password.errors.required"></mat-hint>
                                <mat-hint *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                </mat-hint>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>

                <div class="confirm">
                    <p>
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>confirm</mat-label>
                            <input matInput placeholder="" formControlName="confirmPassword">
                            <mat-hint *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <mat-hint *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                                </mat-hint>
                                <mat-hint *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-hint>
                            </mat-hint>
                        </mat-form-field>
                    </p>
                </div>
            </div>

            <section class="example-section">
                <mat-checkbox class="example-margin">Show password</mat-checkbox>
                <!-- <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox> -->
            </section>

            <div class="btns" fxLayout="row" fxLayoutAlign="space-between end" fxLayout.lt-sm="row"
                fxLayoutAlign.lt-sm="space-between none">
                <button class="btn1" routerLink="/registration">Create Account</button>

                <button mat-raised-button class="btn2" type="submit" (click)="onSubmit()">Next</button>

            </div>
        </form>

    </div>

</body>

<!-- <footer>

    <div class="help">
        <ul>
            <li>
                <a href="#">Help</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </li>
        </ul>

    </div>


</footer> -->

</html>